   body {
      font-family: Arial;
      padding: 20px;
      max-width: 400px;
      margin: auto;
      background-color: skyblue;
      
    }

   h2{
   text-align: center;
   margin-bottom: 20px
   }

    input {
      padding: 8px;
      width: 100%;
      height: 30px;
      margin-bottom: 10px;
      border-radius: 20px;
      
    }

    button {
      padding: 10px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      border-radius: 20px;
      cursor: pointer;
     
    }

    .spinner {
      width: 16px;
      height: 16px;
      border: 3px solid #fff;
      border-top: 3px solid transparent;
      border-radius: 50%;
      animation: spin 0.8s linear infinite;
      display: none;
    }

    @keyframes spin {
      100% { transform: rotate(360deg); }
    }

    .result {
       width: 50%;
      margin-top: 20px;
      padding: 10px;
      background: #f2f2f2;
      border-radius: 10px;
      position: relative;
      left: 20%;
    }
